/*=============== STEPS ===============*/
.whyus {
  &__bg {
    background-color: white;
    width: 100%;
    padding: 3.5rem 2.5rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__title {
    color: var(--first-color-social);
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
  }
  .why {
    &__titles {
      font-family: 'Lato';
      margin-bottom: 10px;
      font-size: 1.7rem;
      color: #303030;
    }

    &__discription {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      color: #282828;
      line-height: 29px;
    }
  }

  .icons__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    margin-bottom: 50px;
    margin-top: 30px;
    gap: 30px;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__img {
      width: 1024px;
      height: 250px;
      cursor: pointer;
      background-position:center;
      background-size: cover;
      margin-bottom: 20px;
    }

    &__span {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #101010;
      cursor: pointer;
    }
  }
}
