/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 5.5rem 0 1rem;

  &__title,
  &__title-center {
    font-size: 30px;
    margin-bottom: var(--mb-2);
    line-height: 140%;
    &-center {
      text-align: center;
    }
  }
}

.container {
  max-width: 1200px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; // For animation
}
